In [1]:
from MuDataFrame import *

mdfo_calib = MuDataFrame("/Volumes/mac_extended/Research/MT/proto1b/data_sets/tutorial/run656.csv")

In [5]:
mdf_calib = mdfo_calib.events_df

In [14]:
mdfo_calib.keepEvents("numLHit",8,"==")

In [15]:
mdfo_calib.events_df

,event_num,event_time,deadtime,l1hit,l2hit,l3hit,l4hit,r1hit,r2hit,r3hit,...,numLHit,theta_x1,theta_y1,theta_x2,theta_y2,z_angle,SmallCounter,speed,Run_Num,megan
0,0,2021-05-20 02:40:11.980749,0,1,1,1,1,1,1,1,...,8,121.983205,26.911953,-11.341020,-289.463053,6.948101,NaN,11.089052,656,8
1,1,2021-05-20 02:40:12.670748,0,1,1,1,1,1,1,1,...,8,-161.512100,-20.325451,-65.190716,-50.356961,11.477555,NaN,1.248025,656,8
4,4,2021-05-20 02:40:13.840823,0,1,1,1,1,1,1,1,...,8,-inf,-0.000000,-106.147970,-30.926699,9.512443,NaN,1.395135,656,8
5,5,2021-05-20 02:40:13.990657,0,1,1,1,1,1,1,1,...,8,-1.158424,-2833.854635,-150.426033,-21.823392,6.913681,NaN,0.357685,656,8
6,6,2021-05-20 02:40:14.410943,0,1,1,1,1,1,1,1,...,8,35.710554,91.928183,-2057.285403,-1.595698,6.002869,NaN,0.357042,656,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99992,99992,2021-05-20 13:18:29.305435,0,1,1,1,1,1,1,1,...,8,41.515488,79.074257,115.240359,28.486603,4.471381,NaN,2.208244,656,8
99993,99993,2021-05-20 13:18:29.875548,0,1,1,1,1,1,1,1,...,8,-146.069773,-22.474235,inf,0.000000,15.702291,NaN,0.346495,656,8
99994,99994,2021-05-20 13:18:30.125522,0,1,1,1,1,1,1,1,...,8,-53.802379,-61.016008,inf,0.000000,13.684312,NaN,0.276322,656,8
99996,99996,2021-05-20 13:18:30.965416,0,1,1,1,1,1,1,1,...,8,-88.277170,-37.187490,-inf,-0.000000,6.035804,NaN,0.442759,656,8
99999,99999,2021-05-20 13:18:32.575704,0,1,1,1,1,1,1,1,...,8,-55.445685,-59.207608,-14.568799,-225.331301,16.831888,NaN,0.294880,656,8

In [6]:
mdf_calib.columns

Index(['event_num', 'event_time', 'deadtime', 'l1hit', 'l2hit', 'l3hit',
       'l4hit', 'r1hit', 'r2hit', 'r3hit', 'r4hit', 'SCh0', 'SCh1', 'SCh2',
       'SCh3', 'SCh4', 'SCh5', 'SCh6', 'SCh7', 'SCh8', 'SCh9', 'SCh10',
       'SCh11', 'L1', 'R1', 'L2', 'R2', 'L3', 'R3', 'L4', 'R4', 'ADC0', 'ADC1',
       'ADC2', 'ADC3', 'ADC4', 'ADC5', 'ADC6', 'ADC7', 'ADC8', 'ADC9', 'ADC10',
       'ADC11', 'TopCounter', 'BottomCounter', 'sumL1', 'sumL2', 'sumL3',
       'sumL4', 'diffL1', 'diffL2', 'diffL3', 'diffL4', 'asymL1', 'asymL2',
       'asymL3', 'asymL4', 'numLHit', 'theta_x1', 'theta_y1', 'theta_x2',
       'theta_y2', 'z_angle', 'SmallCounter', 'speed', 'Run_Num'],
      dtype='object')

In [11]:
mdf_calib["megan"] = mdf_calib.numLHit.values

In [12]:
mdf_calib

,event_num,event_time,deadtime,l1hit,l2hit,l3hit,l4hit,r1hit,r2hit,r3hit,...,numLHit,theta_x1,theta_y1,theta_x2,theta_y2,z_angle,SmallCounter,speed,Run_Num,megan
0,0,2021-05-20 02:40:11.980749,0,1,1,1,1,1,1,1,...,8,121.983205,26.911953,-11.341020,-289.463053,6.948101,NaN,11.089052,656,8
1,1,2021-05-20 02:40:12.670748,0,1,1,1,1,1,1,1,...,8,-161.512100,-20.325451,-65.190716,-50.356961,11.477555,NaN,1.248025,656,8
2,2,2021-05-20 02:40:13.220807,0,1,1,1,0,1,1,1,...,6,-44.563384,-73.666002,NaN,NaN,NaN,NaN,NaN,656,6
3,3,2021-05-20 02:40:13.730848,0,0,1,1,1,0,1,1,...,6,NaN,NaN,40.134072,81.795995,NaN,NaN,NaN,656,6
4,4,2021-05-20 02:40:13.840823,0,1,1,1,1,1,1,1,...,8,-inf,-0.000000,-106.147970,-30.926699,9.512443,NaN,1.395135,656,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2021-05-20 13:18:30.375574,0,0,0,1,1,0,0,1,...,4,NaN,NaN,22.057009,148.832795,NaN,NaN,NaN,656,4
99996,99996,2021-05-20 13:18:30.965416,0,1,1,1,1,1,1,1,...,8,-88.277170,-37.187490,-inf,-0.000000,6.035804,NaN,0.442759,656,8
99997,99997,2021-05-20 13:18:31.405694,0,1,0,1,1,1,1,1,...,7,NaN,NaN,285.263533,11.507978,NaN,NaN,NaN,656,7
99998,99998,2021-05-20 13:18:31.725719,0,1,1,0,0,1,1,0,...,4,-22.800476,-143.979731,NaN,NaN,NaN,NaN,NaN,656,4
99999,99999,2021-05-20 13:18:32.575704,0,1,1,1,1,1,1,1,...,8,-55.445685,-59.207608,-14.568799,-225.331301,16.831888,NaN,0.294880,656,8